.about{
    background: #FCFDF8;

    .landing{
        width: 100vw;
        min-height: 750px;
        background: url(../images/bggg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .myNav{

            .myLogo{
               

                #myLogo{
                    height: 20px;
                    margin: 3.5rem 0 0 5.5rem;
                }
            }
        }

        .textBox{
            padding: 2rem;
            width: 80vw;
            margin: 0 auto;
            font-family: $poppins;
            margin-top: 7rem;

            .myTitle{
                font-size: 4.768rem;
                font-weight: 700;
                color: $primary;
            }

            .txt{
                font-size: 1.4rem;
                font-weight: 300;
                color: $textColor;
            }
        }


    }

    .subSection{
        padding: 2rem 0 0 2rem;
        width: 80vw;
        margin: 0 auto;
        display: flex;
        margin-top: -14rem;
        justify-content: space-between;
        gap: 5rem;

        .left{
           
            img{
                height: 320px;
            }
            p{
                font-family: $mont;
                font-size: 1.3rem;
                font-weight: 400;
                color: $primary;
                line-height: 1.6rem;
                margin-top: 2.4rem;
                //width: 76%;
            }
        }
        .right{

            img{
                height: 500px;
            }
        }
    }

    .why{
        margin-top: 10rem;
        height: auto;
        position: relative;
        padding-bottom: 10rem;

        .container1{
            width: 80vw;
            margin: 0 auto;
            display: flex;

            .whyTxt{
                position: relative;
                z-index: 2;

                h2{
                    font-family: $poppins;
                    font-weight: 700;
                    font-size: 3.815rem;
                    color: $primary;
                }
    
                ul{
                    padding-left: 2rem;
    
                    li{
                        color: $textColor;
                        font-family: $mont;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        font-weight: 400;
                    }
                }
            }
    
            .leafDiv{

                #leaf{
                    width: 450px;
                    position: absolute;
                    top: 2.5rem;
                    right: 0rem;
                }
            }
        }

        .container2{
            width: 80vw;
            margin: 0 auto;
            margin-top: 10rem;

            h2{
                font-family: $poppins;
                font-weight: 700;
                font-size: 4rem;
                color: $secondary;
                line-height: 4.5rem;
                letter-spacing: 1px;
                margin-bottom: 3rem;

                span{
                    color: $fadedGreen;
                }
            }

            .innerContainer{
                display: flex;
                gap: 4rem;

                .left{
                    img{
                        width: 370px;
                    }
                }
                .right{
                    width: 400px;
                   

                   .activity{
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    
                        p{
                            color: $textColor;
                            font-family: $mont;
                            font-weight: 500;
                            font-size: 2rem;
                        }
                        
                        .number{
                            font-size: 4rem;
                            margin-right: 2rem;
                        }
                   }
                }
            }
        }
    }
}