@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;900&display=swap');

//color palette
$primary: #003D2B;
$textColor: #16211E;
$secondary: #D3817A;
$textColor2: #ECFFFD;
$fadedGreen: #A7C393;
$primary2: #064B27;

//fonts
$poppins: 'Poppins', sans-serif;
$mont: 'Montserrat', sans-serif;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
}
